{% extends 'base_template.html' %} {% block title %} User Profile {% endblock %}
{% block content %}
<h2 class="display-6">Profile: {{user.username}}</h2>
<p class="lead">First Name: {{user.first_name}}</p>
<p class="lead">Last Name: {{user.last_name}}</p>
<p class="lead">Email: {{user.email}}</p>
<form
  style="display: inline"
  action="/feedback/{{user.username}}/delete_user"
  method="POST"
>
  <button class="btn btn-danger">
    <i class="fa-solid fa-trash">Delete User</i>
  </button>
</form>

<ul>
  {% for feedback in feedbacks %}
  <li>
    <b>{{feedback.user.username}}- </b> <i>{{feedback.title}}</i>
    <p>{{feedback.content}}</p>
    <form
      style="display: inline"
      action="/feedback/{{user.username}}/delete/{{feedback.id}}"
      method="POST"
    >
      <button class="btn btn-sm btn-danger">
        <i class="fa-solid fa-trash">Delete Feedback</i>
      </button>
    </form>
    <form
      style="display: inline"
      action="/feedback/{{user.username}}/edit/{{feedback.id}}"
      method="GET"
    >
      <button class="btn btn-sm btn-info">
        <i class="fa-solid">Edit Feedback</i>
      </button>
    </form>
    {% if session.username == feedback.username %} {% endif %}
  </li>
  {% endfor %}
</ul>
<form
  style="display: inline"
  action="/feedback/{{user.username}}/add"
  method="GET"
>
  <button class="btn btn-sm btn-success">
    <i class="fa-solid">Add Feedback</i>
  </button>
</form>

{% endblock %}
